{% extends 'base.html' %}

{% block content %}
    <h1>Shopping Cart</h1>
    <hr>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="post" action="{% url 'checkout' order.id %}">
        {% csrf_token %}
        <button type="submit">Checkout and Pay</button>
    </form>
    {% if order.items.all %}
        <ul>
            {% for item in order.items.all %}
                <li>
                    {% if item.product.image %}
                        <img src="{{ item.product.image.url }}" alt="{{ item.product.title }}" style="max-width: 30px;">
                    {% endif %}
                    <h5>{{ item.product.title }}</h5>
                    <p>Price: ${{ item.product.price }}</p>
                    <form method="POST" action="{% url 'update_quantity' order_item_id=item.id %}" class="update-form">
                        {% csrf_token %}
                        <label for="quantity-{{ item.product.id }}">Quantity:</label>
                        <input type="number" name="quantity" id="quantity-{{ item.product.id }}" value="{{ item.quantity }}" min="1" max="{{ item.product.inventory }}">
                        <button type="submit">Update Quantity</button>
                    </form>
                    <form method="DELETE" action="{% url 'delete_item' item.id %}" class="remove-form">
                        {% csrf_token %}
                        <button type="submit">Remove Item</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Your shopping cart is empty.</p>
    {% endif %}
{% endblock %}