{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>Check Out</h1>
    <hr>
    {% if order.items.all %}
        <ul>
            {% for item in order.items.all %}
                <li>
                    {% if item.product.image %}
                        <img src="{{ item.product.image.url }}" alt="{{ item.product.title }}" style="max-width: 30px;">
                    {% endif %}
                    <h5>{{ item.product.title }}</h5>
                    <p>Price: ${{ item.product.price }} (per item)</p>
                    <p>Quantity: {{ item.quantity }}</p>
                </li>
            {% endfor %}
        </ul>
        <hr>
        <h4>Shipping Details</h4>
        <form action="{% url 'pay' order.id %}" method="post">
            {% csrf_token %}
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name" required>
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name" required>
            <label for="street_address">Street Address:</label>
            <input type="text" name="street_address" required>
            <label for="city">City:</label>
            <input type="text" name="city" required>
            <label for="state">State:</label>
            <input type="text" name="state" required>
            <label for="ship_zip">Zip:</label>
            <input type="text" name="ship_zip" required>
            <p>Order Subtotal: ${{ sub_order_price }}</p>
            <p>Taxes: <i>5%</i></p>
            <p>Shipping: <i><s>$8.99</s> FREE</i></p>
            <p>Final Price: ${{ price_with_shipping|floatformat:2 }}</p>
            <input type="hidden" name="price_with_shipping" value="{{ price_with_shipping }}">
            <button type="submit">Finish & Pay</button>
        </form>
    {% else %}
    {% endif %}
    <script src="{% static 'main.js' %}"></script>
{% endblock %}