{% extends 'base.html' %}
{% block content %}
    <hr>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <h1 class="page-title">Today's Bargains</h1>
    {% if products %}
        <ul>
            {% for product in products %}
            <li>
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.title }}" class="products">
                {% endif %}
                    <h5 class="font">{{ product.title }}</h5>
                    <a href="{% url 'product' product_id=product.id %}">View Details</a>
                    <p><i>Only <span class="red">{{ product.inventory }}</span> left in stock!</i></p>
                    <p>Price: ${{ product.price }}</p>
                    <form action="{% url 'add_to_cart' product.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Add to Cart</button>
                    </form>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No deals available at the moment.</p>
    {% endif %}
{% endblock %}