{% extends 'base.html' %}
{% block content %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <h1 class="page-title top-margin">Roll tide! Your order is on the way!</h1>
    <div class="center margin-bottom">
        <a href="{% url 'products' %}" class="bargain-button">Find Another Bargain Now</a>
    </div>
{% endblock %}