@font-face {
  font-family: 'LEMONMILK-Bold'; /* Choose a name for your font family */
  src: url('/static/LEMONMILK-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'LEMONMILK-Regular'; /* Choose a name for your font family */
  src: url('/static/LEMONMILK-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'GryphonRock'; /* Choose a name for your font family */
  src: url('/static/Gryphon Rock v2 TrueType.ttf') format('opentype');
}

body {
  margin: 0;
  padding: 0;
  background-image: url('/static/images/barnbackground.png'); /* Set the background image path */
  background-size: cover; /* Cover the entire body with the background image */
  background-repeat: no-repeat;
  background-position: center; /* Center the background image */
  background-attachment: fixed;
  /* color: white; */
  /* display: flex;
  min-height: 100vh;
  flex-direction: column; */
}

@media (max-width: 768px) {
  body {
      background-attachment: scroll; /* Allow the background image to scroll on small screens */
  }
}

main {
  flex: 1 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.messages {
  font-size: 20px;
  color: #691d1a;
  font-style: italic;
  text-align: center;
}

.red {
  color: #691d1a;
}

.icon-container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.icon-container:hover img {
  animation: wiggle 0.5s ease-in-out infinite;
}

@keyframes wiggle {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
}

.small-icon {
  width: 30px;
  height: 30px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar-container ul {
  list-style: none;
  margin: 0;
}

.navbar-container ul.left {
  font-family: 'LEMONMILK-Bold', sans-serif;
  font-size: 40px;
  margin-left: 30px;
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  .navbar-container ul.left {
    font-size: 25px;
    margin-left: 10px;
    margin-top: 10px;
  }
}

.navbar-container ul.right {
  display: flex;
  gap: 20px;
  align-items: center; /* Add this line to center vertically */
  font-family: 'LEMONMILK-Regular', sans-serif;
  font-size: 20px;
  margin-right: 30px;
}

@media only screen and (max-width: 768px) {
  .navbar-container ul.right {
      font-size: 14px;
      margin-right: 10px;
  }
}

.color {
  color: white;
}

.navbar-container a {
  color: white;
  text-decoration: none;
}

nav ul li:not(:last-child):hover a {
  text-decoration: underline;
}

nav ul li:last-child:hover a {
  text-decoration: none;
}

.tagline {
  font-size: 14px; 
  display: block;
  color: #ffffff; 
}

.container {
  background-color: white;
  margin: 50px 40px 40px 40px;
}

@media only screen and (max-width: 768px) {
  .container {
    background-color: white;
    margin: 0 20px 20px 20px;
  }
}

.container ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.container ul li {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1; /* Occupies full width initially */
  margin-right: 10px; /* Add some margin between items */
  box-sizing: border-box; /* Include padding and border in item width */
}

.container ul li:nth-child(2n) {
  margin-right: 0; /* No margin for every second item, creating two columns */
}

.container ul li img.products {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  align-items: center;
}

.container ul li h5 {
  font-size: 20px;
  margin-bottom: 5px;
}

.container ul li p {
  margin: 0;
  color: #888;
}

.container ul li a {
  color: black;
  text-decoration: underline;
}

.container ul li form {
  margin-top: 10px;
}

.container ul li button {
  padding: 8px 12px;
  background-color: #691d1a;
  color: #fff;
  border: none;
  cursor: pointer;
}

.container ul li button:hover {
  background-color: #2e7d32;
}

/* Media query for screens 768 pixels or less */
@media (max-width: 768px) {
  .container ul li {
      flex: 0 0 100%; /* Occupies full width on small screens */
      margin-right: 0; /* No margin on small screens */
  }
}

.page-title {
  font-family: 'GryphonRock', sans-serif;
  /* color: #691d1a; */
  text-align: center;
}

.product {
  width: 50px;
}

.font {
  font-family: 'GryphonRock', sans-serif;
}

.product-detail {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; /* Use flexbox for layout */
  flex-wrap: wrap; /* Allow items to wrap to the next line on small screens */
}

.product-detail li {
  width: 100%; /* Each item takes full width initially */
  box-sizing: border-box; /* Include padding and border in item width */
  margin-bottom: 20px; /* Add some margin between items */
}

.product-detail img {
  max-width: 100%; /* Ensure the image doesn't overflow its container */
  height: auto;
}

.product-detail .product-info {
  flex: 1; /* Expand to take available space */
}

/* Media query for screens more than 768 pixels */
@media only screen and (min-width: 769px) {
  .product-detail li {
      width: 48%; /* Two items side by side, with some spacing in between */
      margin-right: 2%; /* Add some spacing between items */
  }
}