@font-face {
  font-family: 'LEMONMILK-Bold'; /* Choose a name for your font family */
  src: url('/static/LEMONMILK-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'LEMONMILK-Regular'; /* Choose a name for your font family */
  src: url('/static/LEMONMILK-Regular.otf') format('opentype');
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

main {
  flex: 1 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}


.icon-container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.small-icon {
  width: 30px;
  height: 30px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar-container ul {
  list-style: none;
  margin: 0;
}

.navbar-container ul.left {
  font-family: 'LEMONMILK-Bold', sans-serif;
  font-size: 24px;
}

.navbar-container ul.right {
  display: flex;
  gap: 20px;
  align-items: center; /* Add this line to center vertically */
  font-family: 'LEMONMILK-Regular', sans-serif;
}

.color {
  background-color: #99131f;
  color: white;
}

.navbar-container a {
  color: white;
  text-decoration: none;
}

nav ul li:not(:last-child):hover a {
  text-decoration: underline;
}

nav ul li:last-child:hover a {
  text-decoration: none;
}